<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/nav :: nav"></div>

<h1>We are home</h1>


<nav th:fragment="nav">
    <div class="nav">
        <a class="nav-item" href="/">home</a>
        <a class="nav-item" href="/login">login</a>
        <a class="nav-item" href="/logout">logout</a>
    </div>
    <p th:if="${user}" th:text="'Welcome ' + ${user.username}"></p>
</nav>




</body>
</html>