<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>

<header>
    <div th:replace="fragments/nav :: nav"></div>
</header>

<h3>Welcome to my profile</h3>

<h3 th:if="${user}" th:text="${user.id}"></h3>
<h3 th:unless="${user}" th:text="">That user doesn't exist yet. Invite them.</h3>
<p th:if="${user}" th:text="${user.firstName}"></p>
<p th:if="${user}" th:text="${user.lastName}"></p>
<p th:if="${user}" th:text="${user.dateOfBirth}"></p>
<p th:if="${user}" th:text="${user.bio}"></p>




</body>
</html>