<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>

<header>
    <div th:replace="fragments/nav :: nav"></div>
</header>

<h3>Welcome to my profile</h3>

<!--<h3 th:if="${user}" th:text="${user.id}"></h3>-->
<h3 th:unless="${user}" th:text="">That user doesn't exist yet. Invite them.</h3>
<img th:src="${user.image}">
<p th:if="${user}" th:text="${user.firstName}"></p>
<p th:if="${user}" th:text="${user.lastName}"></p>
<p th:if="${user}" th:text="${user.dateOfBirth}"></p>
<p th:if="${user}" th:text="${user.bio}"></p>

<form action="/myprofile" method="POST">
    message<input type="text" name="body">
    <input type="hidden" name="firstName" th:value="${user.firstName}">
    <input type="hidden" name="id" th:value="${user.id}">
    <input type="submit">

    <a href="/user">Click to Find Users</a>

</form>
<section th:if="${user}">
    <section th:each="post : ${user.posts}">
        <p th:text="${post.body}"></p>
    </section>
</section>

<form action="/feed" method="GET">
    <input type="submit" value="Go to Feed">
</form>



</body>
</html>