<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h3>Sign Up Here</h3>

<form action="/intoDatabase" method="POST">
    Username <input type="text" name="username">
    Password <input type="text" name="password">


<h4>Please provide the following information</h4>

    First Name <input type="text" name="firstName">
    Last Name <input type="text" name="lastName">
    DOB <input type="date" name="dateOfBirth">
    Bio <input type="text" name="bio">
    <input type="submit">
</form>


</body>
</html>