<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

    <title>This is the user page</title>
</head>
<body>

<header>
    <div th:replace="fragments/nav :: nav"></div>
</header>

<h3 th:unless="${user}" th:text="">That user doesn't exist yet. Invite them.</h3>
<img th:src="${user.image}">
<p th:if="${user}" th:text="${user.firstName}"></p>
<p th:if="${user}" th:text="${user.lastName}"></p>
<p th:if="${user}" th:text="${user.dateOfBirth}"></p>
<p th:if="${user}" th:text="${user.bio}"></p>


<form action="/feed" method="POST">
    <input type="hidden" name="whoIFollow" th:value="${user.id}">
    <input type="submit" th:value="'Follow ' + ${user.firstName}">



</form>


</body>
</html>